<div class="row">

  <div class="left-menu col-7">
    <div
      class="sticky-header"
      #stickyHeader
    >
      <app-task-creator (taskCeated)="onTaskCreated($event)"></app-task-creator>
      <!-- <button
        mat-button
        (click)="onTaskCreated()"
      >
        Create new
      </button> -->
    </div>
    <ng-scrollbar
      track="vertical"
      visibility="hover"
    >
      <div
        class="scrollable-content"
        #scrollableContent       
      >
        <app-tasks-list
          [tasks]="tasks"
          [priorities]="priorities"
          [selectedTask]="selectedTask"
          (taskStatusUpdated)="onTaskStatusUpdated($event)"
          (taskSelected)="onTaskSelected($event)"
          (taskDeleted)="onTaskDeleted($event)"
        ></app-tasks-list>
      </div>
    </ng-scrollbar>
  </div>

  <div class="right-menu col-5">
    <router-outlet></router-outlet>
  </div>

</div>