<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="'side'"
    opened="true"
  >
    <mat-nav-list>
      <mat-list-item
        routerLink="/tasks/today"
        routerLinkActive="active"
      >
        <mat-icon>today</mat-icon>
        <a>Today</a>
      </mat-list-item>
      <mat-list-item
        routerLink="/tasks/week"
        routerLinkActive="active"
      >
        <mat-icon>date_range</mat-icon>
        <a>Next 7 days</a>
      </mat-list-item>
      <mat-list-item
        routerLink="/tasks/all"
        routerLinkActive="active"
      >
        <mat-icon>inbox</mat-icon>
        <a>Inbox</a>
      </mat-list-item>
      <mat-list-item
        routerLink="/tasks/completed"
        routerLinkActive="active"
      >
        <mat-icon>done</mat-icon>
        <a>Completed</a>
      </mat-list-item>
      <mat-list-item
        routerLink="/tasks/trash"
        routerLinkActive="active"
      >
        <mat-icon>delete</mat-icon>
        <a>Trash</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="d-flex justify-content-between">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        class="ml-2"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>