<div>
  <ng-container *ngFor="let task of tasks">
    <div
      class="task-item"
      (click)="select(task)"
      [ngClass]="{'selected-task-item': task?.id === selectedTask?.id}"
    >
      <div class="left-part">
        <div class="checkbox">
          <mat-checkbox
            [ngModel]="task.status"
            (ngModelChange)="updateStatus(task, $event)"
          ></mat-checkbox>
        </div>
        <div class="title">
          {{task?.title}}
        </div>
      </div>
      <div class="right-part">
        <div class="dueDate">
          {{task?.dueDate | date}}
        </div>
        <div class="actions">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu
            #menu="matMenu"
            xPosition="before"
          >
            <button
              mat-menu-item
              (click)="delete(task)"
            >
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </ng-container>
</div>