
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Title</th>
        <th scope="col">Due date</th>
        <th scope="col">Priority</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let task of tasks">
        <tr
          class="task-item"
          (click)="select(task)"
          [ngClass]="{'selected-task-item': task?._id === selectedTask?._id}"
        >
          <th scope="row">
            <mat-checkbox
              [ngModel]="task.status"
              (ngModelChange)="updateStatus(task, $event)"
            ></mat-checkbox>
          </th>
          <td>{{task?.title}}</td>
          <td>{{task?.dueDate}}</td>
          <td>{{getPriority(task?.priority)?.description}}</td>
          <td>
            <button
              mat-button
              (click)="delete(task)"
            >
              Delete
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>