<form [formGroup]="taskForm">
  <div class="row row-cols-2">
    <mat-form-field
      class="col"
      appearance="standard"
    >
      <mat-label>Title</mat-label>
      <input
        formControlName="title"
        matInput
        placeholder="Placeholder"
        autocomplete="off"
      >
    </mat-form-field>
    <div class="col">
      <mat-checkbox formControlName="status">Status</mat-checkbox>
    </div>
    <mat-form-field
      class="col"
      appearance="standard"
    >
      <mat-label>Due date</mat-label>
      <input
        formControlName="dueDate"
        placeholder="Placeholder"
        matInput
        [matDatepicker]="datepicker"
        autocomplete="off"
      >
      <mat-datepicker-toggle
        matSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field
      class="col"
      appearance="standard"
    >
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option
          *ngFor="let priority of priorities"
          [value]="priority._id"
        >
          {{priority.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field
      class="col"
      appearance="standard"
    >
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="1000"
        placeholder="Placeholder"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="row justify-content-end">
    <div class="col-3">
      <button
        *ngIf="!isInEditMode"
        mat-button
        (click)="submit()"
        [disabled]="!taskForm.valid"
      >
        Create
      </button>
    </div>
  </div>

</form>