<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Title</th>
        <th scope="col">Due date</th>
        <th scope="col">Priority</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let task of tasks">
        <tr>
          <th scope="row">
            <mat-checkbox [ngModel]="task.status" (ngModelChange)="updateStatus(task, $event)"></mat-checkbox>
          </th>
          <td>{{task?.title}}</td>
          <td>{{task?.dueDate}}</td>
          <td>{{task?.priority?.description}}</td>
          <td>
            <button
              mat-button
              (click)="edit(task)"
            >
              Edit
            </button>
            <button
              mat-button
              (click)="delete(task)"
            >
              Delete
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>